@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background: #000000;
  font-size: 1rem;
}

h1 {
  font-size: 6vw;
  margin: 1rem 0rem;
  line-height: 6vw;
}

h2 {
  font-size: 1rem;
  color: #777777;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

p {
  margin-bottom: 1rem;
}

fieldset {
  border: 1px solid white;
  display: inline-block;
  padding: 1rem;
}

legend {
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  max-width: 50vh;
}

.button {
  border: 1px solid white;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.smallbutton {
  color: white;
  border: 1px solid #777777;
  padding: 0.25rem 1rem;
  text-decoration: none;
  display: inline-block;
}

.smallbutton:hover {
  color: black;
  background-color: white;;
}

.button.more {
  border: 1px solid white;
  color: white;
  margin-left: 1rem;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.rainbow_bg_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  width: 8%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

#events div div div {
  row-gap: 4px !important;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* https://css-generators.com/custom-borders/ */
.zigzag {
  background: repeating-linear-gradient(135deg,#000000 0 15px,#000000 0 30px);
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/100.00px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.smallzigzag {
  --mask: 
    conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/20.00px 51% repeat-x,
    conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/20.00px 51% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.react-tabs__tab-list {
  border-bottom: 6px solid white !important;
}

.ping {
  width: 4px;
  height: 16px;
  position: absolute;
  background: #ffffff;
  left: 0;
  animation: ping 6s infinite linear;
}

.ball {
  width: 5px;
  height: 5px;
  position: absolute;
  background: #ffffff;
  animation: ball 6s infinite linear;
}

@keyframes ping {
	0% {
		top: 10%;
	}
	5% {
		top: 10%;
	}
	9% {
		top: 24%;
	}
	13% {
		top: 17%;
	}
	24.9% {
		top: 82%;
	}
	47% {
		top: 37%;
	}
	52% {
		top: 41%;
	}
	56% {
		top: 64%;
	}
	58.1% {
		top: 54%;
	}
	70% {
		top: 74%;
	}
	84% {
		top: 12%;
	}
	91.3% {
		top: 18%;
	}
	100% {
		top: 10%;
	}
}


@keyframes ball {
	0% {
		top: 34%;
		left: 52%;
    opacity: 0;
	}
	8.3% {
		top: 52%;
		left: 90%;
    opacity: 0;
	}
	24.9% {
		top: 85%;
		left: 8%;
    opacity: 1;
	}
	30% {
		top: 98%;
		left: 27%;
    opacity: 0;
	}
	41.5% {
		top: 70%;
		left: 90%;
    opacity: 0;
	}
	58.1% {
		top: 55%;
		left: 8%;
    opacity: 1;
	}
	74.7% {
		top: 13%;
		left: 90%;
    opacity: 0;
	}
	79% {
		top: 1%;
		left: 70%;
    opacity: 0;
	}
	91.3% {
		top: 22%;
		left: 8%;
    opacity: 1;
	}
	100% {
		top: 34%;
		left: 52%;
    opacity: 0;
	}
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2.4rem;
    margin: 1rem 0rem;
    line-height: 2.8rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .button {
    font-size: 1rem;
  }

  .zigzag {
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/50.00px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
  }

  .links a {
    width: 18%;
  }

  .logo {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: smaller;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}