@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background: #000000;
  font-size: 1rem;
}

h1 {
  font-size: 6vw;
  margin: 1rem 0rem;
  line-height: 6vw;
}

h2 {
  font-size: 1rem;
  color: #ffffff;
}

h3 {
  font-size: 1.6rem;
}

p {
  margin-bottom: 1rem;
}

fieldset {
  border: 1px solid white;
  display: inline-block;
  padding: 1rem;
}

legend {
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  max-width: 50vh;
}

.button {
  color: white;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
}

.smallbutton {
  color: white;
  border: 1px solid white;
  padding: 0.2rem 1rem;
  text-decoration: none;
}

.button.more {
  border: 1px solid white;
  color: white;
  margin-left: 1rem;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

.rainbow_bg_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/* https://css-generators.com/custom-borders/ */
.zigzag {
  background: repeating-linear-gradient(135deg,#000000 0 15px,#000000 0 30px);
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/100.00px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

a {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 3.2rem;
    margin: 1rem 0rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .button {
    font-size: 1rem;
  }

  .zigzag {
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/50.00px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
  }
}

