.ping {
    width: 4px;
    height: 16px;
    position: absolute;
    background: #ffffff;
    left: 0;
    animation: ping 6s infinite linear;
}

@media (prefers-reduced-motion: reduce) {
    .ping,
    .ball {
        display: none;
    }
}

.ball {
    width: 5px;
    height: 5px;
    position: absolute;
    background: #ffffff;
    animation: ball 6s infinite linear;
}

@keyframes ping {
    0% {
        top: 10%;
    }

    5% {
        top: 10%;
    }

    9% {
        top: 24%;
    }

    13% {
        top: 17%;
    }

    24.9% {
        top: 82%;
    }

    47% {
        top: 37%;
    }

    52% {
        top: 41%;
    }

    56% {
        top: 64%;
    }

    58.1% {
        top: 54%;
    }

    70% {
        top: 74%;
    }

    84% {
        top: 12%;
    }

    91.3% {
        top: 18%;
    }

    100% {
        top: 10%;
    }
}

@keyframes ball {
    0% {
        top: 34%;
        left: 52%;
        opacity: 0;
    }

    8.3% {
        top: 52%;
        left: 90%;
        opacity: 0;
    }

    24.9% {
        top: 85%;
        left: 4px;
        opacity: 1;
    }

    30% {
        top: 98%;
        left: 27%;
        opacity: 0;
    }

    41.5% {
        top: 70%;
        left: 90%;
        opacity: 0;
    }

    58.1% {
        top: 55%;
        left: 4px;
        opacity: 1;
    }

    74.7% {
        top: 13%;
        left: 90%;
        opacity: 0;
    }

    79% {
        top: 1%;
        left: 70%;
        opacity: 0;
    }

    91.3% {
        top: 22%;
        left: 4px;
        opacity: 1;
    }

    100% {
        top: 34%;
        left: 52%;
        opacity: 0;
    }
}
